doc/20181023/B2B-POLServices-v1.6.xsd

<?xml version='1.0' encoding='UTF-8'?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://b2b.postaonline.cz/schema/POLServices-v1"
	xmlns:tns="https://b2b.postaonline.cz/schema/POLServices-v1"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	elementFormDefault="qualified"
	version="1.5">

    <annotation>
	<documentation xml:lang="cs">Popis: Schema služeb B2B pro Podani Online</documentation>
	<documentation xml:lang="cs">Authors: Ceska posta</documentation>
	<documentation xml:lang="cs">06.01.2016 - verze 1.0 - Uvodni</documentation>
	<documentation xml:lang="cs">05.02.2016 - verze 1.1 - Omezeni poctu opakovani u doParcelData, getParcelState</documentation>
	<documentation xml:lang="cs">07.03.2016 - verze 1.2 - Zmena typu objektu service, category, note</documentation>
	<documentation xml:lang="cs">01.06.2016 - verze 1.3 - Doplneny elementy getParcelsPrinting, getParcelsPrintingResponse; 
							    - zmena simpleType phoneNumberType;
							    - uprava doParcelHeader - zmena povinnosti senderAddress, novy nepovinny parametry locationNumber</documentation>
	<documentation xml:lang="cs">26.05.2017 - verze 1.4 - přidání elementu do doParcelParams</documentation>
	<documentation xml:lang="cs">07.02.2018 - verze 1.5 - Zmena minOccurs u doParcelData z 1 na 0, pridaní transmissionEnd pod locationNumber </documentation>
	<documentation xml:lang="cs">23.10.2018 - verze 1.6 - Do popisu idForm v doPrintingHeader doplněny nové formuláře ID 72 a 73 </documentation>
    </annotation>

    <!-- ELEMENTS -->
    <element name="sendParcels">
	<complexType>
	    <sequence>
		<element name="doParcelHeader" type="tns:doParcelHeader"/>
		<element name="doParcelData" type="tns:doParcelData" minOccurs="0" maxOccurs="1000"/>
	    </sequence>
	</complexType>
    </element>
    
    <element name="getResultParcelsResponse">
	<complexType>
	    <sequence>
		<element name="doParcelHeaderResult" type="tns:doParcelHeaderResult"/>
		<element name="doParcelParamResult" type="tns:doParcelParamResult" minOccurs="0" maxOccurs="unbounded"/>
	    </sequence>
	</complexType>
    </element>

    <element name="getStats">
	<complexType>
	    <annotation>
		<documentation xml:lang="cs">Statistika importů za požadované období - vstup</documentation>
	    </annotation>
	    <sequence>
		<element name="dateBegin" type="date">
		    <annotation>
			<documentation xml:lang="cs">Datum od</documentation>
		    </annotation>
		</element>
		<element name="dateEnd" type="date">
		    <annotation>
			<documentation xml:lang="cs">Datum do</documentation>
		    </annotation>
		</element>
	    </sequence>
	</complexType>
    </element>

    <element name="getStatsResponse">
	<complexType>
	    <annotation>
		<documentation xml:lang="cs">Statistika importů za požadované období - výstup</documentation>
	    </annotation>
	    <sequence>
		<element name="importAll" type="tns:positiveInteger10">
		    <annotation>
			<documentation xml:lang="cs">Celkový počet importů</documentation>
		    </annotation>
		</element>
		<element name="importErr" type="tns:positiveInteger10">
		    <annotation>
			<documentation xml:lang="cs">Počet chybných importů</documentation>
		    </annotation>
		</element>
		<element name="importOk" type="tns:positiveInteger10">
		    <annotation>
			<documentation xml:lang="cs">Počet přijatých importů</documentation>
		    </annotation>
		</element>
		<element name="parcels" type="tns:positiveInteger10">
		    <annotation>
			<documentation xml:lang="cs">Počet přijatých zásilek</documentation>
		    </annotation>
		</element>
	    </sequence>
	</complexType>
    </element>

    <element name="getParcelState">
	<complexType>
	    <sequence>
		<sequence minOccurs="1" maxOccurs="10">
		    <element name="idParcel" type="string">
			<annotation>
			    <documentation>ID zasilky</documentation>
			</annotation>
		    </element>
		</sequence>
		<element name="language" type="string" minOccurs="0">
		    <annotation>
			<documentation>Jazyk zobrazovanych udalosti. Pokud null, pouzije se cestina.</documentation>
		    </annotation>
		</element>
	    </sequence>
	</complexType>
    </element>

    <element name="getParcelStateResponse">
	<complexType>
	    <sequence minOccurs="0" maxOccurs="unbounded">
		<element name="parcel" type="tns:doParcelState">
		    <annotation>
			<documentation xml:lang="cs">Data zásilky</documentation>
		    </annotation>
		</element>
	    </sequence>
	</complexType>
    </element>

    <element name="getParcelsPrinting">
	<complexType>
	    <annotation>
		<documentation xml:lang="cs">Data tisku zásilek</documentation>
	    </annotation>
	    <sequence>
		<element name="doPrintingHeader" type="tns:doPrintingHeader">
		    <annotation>
			<documentation xml:lang="cs">Hlavičkové údaje</documentation>
		    </annotation>
		</element>
		<element name="doPrintingData" type="tns:doPrintingData">
		    <annotation>
			<documentation xml:lang="cs">Položkové údaje</documentation>
		    </annotation>
		</element>
	    </sequence>
	</complexType>
    </element>

    <element name="getParcelsPrintingResponse">
	<complexType>
	    <annotation>
		<documentation xml:lang="cs">Data výsledku tisku (soubor PDF)</documentation>
	    </annotation>
	    <sequence>
		<element name="doPrintingHeaderResult" type="tns:doPrintingHeaderResult">
		    <annotation>
			<documentation xml:lang="cs">Hlavičková data výsledku podání</documentation>
		    </annotation>
		</element>
		<element name="doPrintingDataResult" type="tns:doPrintingDataResult">
		    <annotation>
			<documentation xml:lang="cs">Data tisku</documentation>
		    </annotation>
		</element>
	    </sequence>
	</complexType>
    </element>

    <!-- COMPLEX TYPES -->  

    <complexType name="doParcelHeader">
	<sequence>
	    <element name="transmissionDate" type="tns:dateType">
		<annotation>
		    <documentation xml:lang="cs">Přepokládané datum podání zásilek</documentation>
		</annotation>
	    </element>
	    <element name="customerID" type="tns:string6">
		<annotation>
		    <documentation xml:lang="cs">Technologické číslo podavatele</documentation>
		</annotation>
	    </element>
	    <element name="postCode" type="tns:string5">
		<annotation>
		    <documentation xml:lang="cs">PSČ podací pošty</documentation>
		</annotation>
	    </element>
	    <element name="contractNumber" type="tns:string10" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Číslo zakázky</documentation>
		</annotation>
	    </element>
	    <element name="frankingNumber" type="tns:string10" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Číslo výplatního stroje</documentation>
		</annotation>
	    </element>
	    <element name="senderAddress" type="tns:doParcelHeaderAddress" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Adresa odesílatele</documentation>
		</annotation>
	    </element>
	    <element name="codAddress" type="tns:doParcelHeaderAddress" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Adresa adresáta dobírkové částky</documentation>
		</annotation>
	    </element>
	    <element name="codBank" type="tns:doParcelBank" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Bankovní spojení adresáta dobírkové částky</documentation>
		</annotation>
	    </element>
	    <element name="senderContacts" type="tns:doParcelContacts" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Kontakní údaje odesílatele</documentation>
		</annotation>
	    </element>
	    <element name="senderCustCardNum" type="tns:string20" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Číslo zákaznické karty odesílatele</documentation>
		</annotation>
	    </element>
	    <element name="locationNumber" type="int" minOccurs="0">
                <annotation>
                    <documentation xml:lang="cs">Číslo podacího místa</documentation>
                </annotation>
        </element>
        <element name="transmissionEnd" type="boolean" minOccurs="0">
            <annotation>
                <documentation xml:lang="cs">Indikace zda uzavřít podání</documentation>
            </annotation>
        </element>
	</sequence>
    </complexType>
    
    <complexType name="doParcelHeaderAddress">
	<sequence>
	    <element name="companyName" type="tns:string50">
		<annotation>
		    <documentation xml:lang="cs">Název</documentation>
		</annotation>
	    </element>
	    <element name="aditionAddress" type="tns:string50" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Doplňující informace k názvu podavatele</documentation>
		</annotation>
	    </element>
	    <element name="street" type="tns:string40" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Ulice</documentation>
		</annotation>
	    </element>
	    <element name="houseNumber" type="tns:string6" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Číslo popisné</documentation>
		</annotation>
	    </element>
	    <element name="sequenceNumber" type="tns:string6" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Číslo orientační</documentation>
		</annotation>
	    </element>
	    <element name="partCity" type="tns:string40" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Část obce</documentation>
		</annotation>
	    </element>
	    <element name="city" type="tns:string40" >
		<annotation>
		    <documentation xml:lang="cs">Obec</documentation>
		</annotation>
	    </element>
	    <element name="zipCode" type="tns:string25" >
		<annotation>
		    <documentation xml:lang="cs">PSČ</documentation>
		</annotation>
	    </element>
	    <element name="isoCountry" type="tns:string2" minOccurs="0" default="CZ"/>
	    <element name="subIsoCountry" type="tns:string6" minOccurs="0"/>
	</sequence>
    </complexType>    
    
    <complexType name="doParcelBank">
	<sequence>
	    <element name="prefixAccount" type="tns:positiveInteger6" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Předčíslí k účtu</documentation>
		</annotation>
	    </element>
	    <element name="account" type="tns:string10">
		<annotation>
		    <documentation xml:lang="cs">Číslo účtu</documentation>
		</annotation>
	    </element>
	    <element name="bank" type="tns:positiveInteger4">
		<annotation>
		    <documentation xml:lang="cs">Kód banky</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType> 
    
    <complexType name="doParcelContacts">
	<sequence>
	    <element name="mobileNumber" type="tns:phoneNumberType" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Mobil</documentation>
		</annotation>
	    </element>
	    <element name="phoneNumber" type="tns:phoneNumberType" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Telefon</documentation>
		</annotation>
	    </element>
	    <element name="emailAddress" type="tns:mailAddress" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Email</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>    

    <complexType name="doParcelData">
	<sequence>
	    <element name="doParcelParams" type="tns:doParcelParams">
		<annotation>
		    <documentation xml:lang="cs">Parametry zásilky</documentation>
		</annotation>
	    </element>
	    <element name="doParcelServices" type="tns:doParcelServices" minOccurs="0" maxOccurs="unbounded">
		<annotation>
		    <documentation xml:lang="cs">Požadované doplňkové služby</documentation>
		</annotation>
	    </element>
	    <element name="doParcelAddress" type="tns:doParcelAddress">
		<annotation>
		    <documentation xml:lang="cs">Adresát zásilky</documentation>
		</annotation>
	    </element>
	    <element name="doParcelAddressDocument" type="tns:doParcelAddressDocument" minOccurs="0" maxOccurs="unbounded">
		<annotation>
		    <documentation xml:lang="cs">Adresát dokumentů</documentation>
		</annotation>
	    </element>
	    <element name="doParcelCustomsDeclaration" type="tns:doParcelCustomsDeclaration" minOccurs="0" maxOccurs="1">
		<annotation>
		    <documentation xml:lang="cs">Data celní prohlášky</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

    <complexType name="doParcelParams">
	<sequence>
	    <element name="recordID" type="tns:string50">
		<annotation>
		    <documentation xml:lang="cs">ID záznamu</documentation>
		</annotation>
	    </element>
	    <element name="parcelCode" type="tns:string13" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">ID zásilky</documentation>
		</annotation>
	    </element>
	    <element name="prefixParcelCode" type="tns:string2">
		<annotation>
		    <documentation xml:lang="cs">Typ zásilky (prefix)</documentation>
		</annotation>
	    </element>
	    <element name="weight" type="tns:weightType" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Hmotnost</documentation>
		</annotation>
	    </element>
	    <element name="insuredValue" type="tns:moneyType" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Udaná cena</documentation>
		</annotation>
	    </element>
	    <element name="amount" type="tns:moneyType" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Dobírka</documentation>
		</annotation>
	    </element>
	    <element name="currency" type="tns:string3" minOccurs="0" default="CZK">
		<annotation>
		    <documentation xml:lang="cs">ISO kód měny dobírky</documentation>
		</annotation>
	    </element>
	    <element name="vsVoucher" type="tns:variable" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Variabilní symbol - poukázka</documentation>
		</annotation>
	    </element>
	    <element name="vsParcel" type="tns:variable" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Variabilní symbol - zásilka</documentation>
		</annotation>
	    </element>
	    <element name="sequenceParcel" type="tns:positiveInteger2" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Pořadí v rámci vícekusové zásilky</documentation>
		</annotation>
	    </element>
	    <element name="quantityParcel" type="tns:positiveInteger2" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Celkový počet zásilkek vícekusové zásilky</documentation>
		</annotation>
	    </element>
	    <element name="note" type="tns:string50" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Poznámka</documentation>
		</annotation>
	    </element>
	    <element name="notePrint" type="tns:string50" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Poznámka pro tisk</documentation>
		</annotation>
	    </element>
	    <element name="length" type="tns:positiveInteger3" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Délka</documentation>
		</annotation>
	    </element>
	    <element name="width" type="tns:positiveInteger3" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Šířka</documentation>
		</annotation>
	    </element>
	    <element name="height" type="tns:positiveInteger3" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Výška</documentation>
		</annotation>
	    </element>
	    <element name="mrn" type="tns:string18" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Kód MRN</documentation>
		</annotation>
	    </element>
	    <element name="referenceNumber" type="tns:string30" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Číslo jednací</documentation>
		</annotation>
	    </element>
	    <element name="pallets" type="tns:palletsType" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Počet palet</documentation>
		</annotation>
	    </element>
	    <element name="specSym" type="tns:string10" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Specifický symbol</documentation>
		</annotation>
	    </element>
	    <element name="note2" type="tns:string50" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Poznámka 2</documentation>
		</annotation>
	    </element>
	    <element name="numSign" type="tns:string30" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Počet dokumentů</documentation>
		</annotation>
	    </element>
	    <element name="score" type="tns:string30" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Nápočet ceny služby</documentation>
		</annotation>
	    </element>
	    <element name="orderNumberZPRO" type="tns:string11" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Číslo objednávky ZPRO</documentation>
		</annotation>
	    </element>
        <element name="returnNumDays" type="tns:string2" minOccurs="0" nillable="true">
            <annotation>
                <documentation xml:lang="cs">Počet dní pro vrácení zásilky</documentation>
            </annotation>
        </element>	
	</sequence>
    </complexType>

    <complexType name="doParcelServices">
	<sequence>
	    <element name="service" type="tns:string2"/>
	</sequence>
    </complexType>

    <complexType name="doParcelAddress">
	<sequence>
	    <element name="recordID" type="tns:string20" minOccurs="0"/>
	    <element name="firstName" type="tns:string50" minOccurs="0"/>
	    <element name="surname" type="tns:string50" minOccurs="0"/>
	    <element name="companyName" type="tns:string50" minOccurs="0"/>
	    <element name="aditionAddress" type="tns:string50" minOccurs="0"/>
	    <element name="subject" type="tns:string2" minOccurs="0"/>
	    <element name="ic" type="tns:positiveInteger10" minOccurs="0"/>
	    <element name="dic" type="tns:string12" minOccurs="0"/>
	    <element name="specification" type="tns:string15" minOccurs="0"/>
	    <element name="street" type="tns:string40" minOccurs="0"/>
	    <element name="houseNumber" type="tns:string6" minOccurs="0"/>
	    <element name="sequenceNumber" type="tns:string6" minOccurs="0"/>
	    <element name="partCity" type="tns:string40" minOccurs="0"/>
	    <element name="city" type="tns:string40" minOccurs="0"/>
	    <element name="zipCode" type="tns:string25" minOccurs="0"/>
	    <element name="isoCountry" type="tns:string2" minOccurs="0"/>
	    <element name="subIsoCountry" type="tns:string6" minOccurs="0"/>
	    <element name="bank" type="tns:positiveInteger4" minOccurs="0"/>
	    <element name="prefixAccount" type="tns:positiveInteger6" minOccurs="0"/>
	    <element name="account" type="tns:positiveInteger10" minOccurs="0"/>
	    <element name="mobileNumber" type="tns:phoneNumberType" minOccurs="0"/>
	    <element name="phoneNumber" type="tns:phoneNumberType" minOccurs="0"/>
	    <element name="emailAddress" type="tns:mailAddress" minOccurs="0"/>
	    <element name="custCardNum" type="tns:string20" minOccurs="0"/>
	    <element name="adviceInformation1" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation2" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation3" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation4" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation5" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation6" type="tns:string10" minOccurs="0"/>
	    <element name="adviceNote" type="tns:string15" minOccurs="0"/>
	</sequence>
    </complexType>

    <complexType name="doParcelAddressDocument">
	<sequence>
	    <element name="recordID" type="tns:string20" minOccurs="0"/>
	    <element name="firstName" type="tns:string50" minOccurs="0"/>
	    <element name="surname" type="tns:string50" minOccurs="0"/>
	    <element name="companyName" type="tns:string50" minOccurs="0"/>
	    <element name="aditionAddress" type="tns:string50" minOccurs="0"/>
	    <element name="subject" type="tns:string2" minOccurs="0"/>
	    <element name="ic" type="tns:positiveInteger10" minOccurs="0"/>
	    <element name="dic" type="tns:string12" minOccurs="0"/>
	    <element name="specification" type="tns:string15" minOccurs="0"/>
	    <element name="street" type="tns:string40" minOccurs="0"/>
	    <element name="houseNumber" type="tns:string6" minOccurs="0"/>
	    <element name="sequenceNumber" type="tns:string6" minOccurs="0"/>
	    <element name="partCity" type="tns:string40" minOccurs="0"/>
	    <element name="city" type="tns:string40" minOccurs="0"/>
	    <element name="zipCode" type="tns:string25" minOccurs="0"/>
	    <element name="isoCountry" type="tns:string2" minOccurs="0"/>
	    <element name="subIsoCountry" type="tns:string6" minOccurs="0"/>
	    <element name="bank" type="tns:positiveInteger4" minOccurs="0"/>
	    <element name="prefixAccount" type="tns:positiveInteger6" minOccurs="0"/>
	    <element name="account" type="tns:positiveInteger10" minOccurs="0"/>
	    <element name="mobileNumber" type="tns:phoneNumberType" minOccurs="0"/>
	    <element name="phoneNumber" type="tns:phoneNumberType" minOccurs="0"/>
	    <element name="emailAddress" type="tns:mailAddress" minOccurs="0"/>
	    <element name="adviceInformation1" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation2" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation3" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation4" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation5" type="tns:string10" minOccurs="0"/>
	    <element name="adviceInformation6" type="tns:string10" minOccurs="0"/>
	    <element name="adviceNote" type="tns:string15" minOccurs="0"/>
	</sequence>
    </complexType>

    <complexType name="doParcelCustomsDeclaration">
	<sequence>
	    <element name="category" type="tns:string3" >
		<annotation>
		    <documentation xml:lang="cs">Kategorie zásilky</documentation>
		</annotation>
	    </element>
	    <!--
			<element name="customValTot" type="tns:moneyType" minOccurs="0">
					    <annotation>
						    <documentation xml:lang="cs">Celková celní hodnota zásilky</documentation>
					    </annotation>
				    </element>
	    -->
	    <element name="note" type="tns:string30" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Poznámka</documentation>
		</annotation>
	    </element>
	    <element name="customValCur" type="tns:string3" >
		<annotation>
		    <documentation xml:lang="cs">ISO kód měny celní hodnoty</documentation>
		</annotation>
	    </element>
	    <element name="doParcelCustomsGoods" type="tns:doParcelCustomsGoods" maxOccurs="20">
		<annotation>
		    <documentation xml:lang="cs">Popis obsahu zásilky</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

    <complexType name="doParcelCustomsGoods">
	<sequence>
	    <element name="sequence" type="tns:sequenceType" >
		<annotation>
		    <documentation xml:lang="cs">Pořadí</documentation>
		</annotation>
	    </element>
	    <element name="customCont" type="tns:string50" >
		<annotation>
		    <documentation xml:lang="cs">Popis zboží</documentation>
		</annotation>
	    </element>
	    <element name="quantity" type="tns:string50" >
		<annotation>
		    <documentation xml:lang="cs">Množství</documentation>
		</annotation>
	    </element>
	    <element name="weight" type="tns:weightType" >
		<annotation>
		    <documentation xml:lang="cs">Hmotnost</documentation>
		</annotation>
	    </element>
	    <element name="customVal" type="tns:moneyType" >
		<annotation>
		    <documentation xml:lang="cs">Celní hodnota</documentation>
		</annotation>
	    </element>
	    <element name="hsCode" type="tns:string6" >
		<annotation>
		    <documentation xml:lang="cs">HS kód</documentation>
		</annotation>
	    </element>
	    <element name="iso" type="tns:string2" >
		<annotation>
		    <documentation xml:lang="cs">Země původu zboží</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>     

    <complexType name="doParcelHeaderResult">
	<sequence>
	    <element name="doParcelHeader" type="tns:doParcelHeader" minOccurs="0"/>
	    <element name="doParcelStateResponse" type="tns:doParcelStateResponse" minOccurs="1" maxOccurs="999"/>
	</sequence>
    </complexType>

    <complexType name="doParcelParamResult">
	<sequence>
	    <element name="recordNumber" type="tns:string50"/>
	    <element name="parcelCode" type="tns:string13"/>
	    <element name="doParcelStateResponse" type="tns:doParcelStateResponse" maxOccurs="unbounded"/>
	</sequence>
    </complexType>
    
    <complexType name="doParcelStateResponse">
	<sequence>
	    <element name="responseCode" type="tns:positiveInteger3min1" minOccurs="1"/>
	    <element name="responseText" type="tns:string30"/>
	</sequence>
    </complexType>

    <complexType name="doParcelState">
	<sequence>
	    <element name="idParcel" type="string" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">ID zásilky</documentation>
		</annotation>
	    </element>
	    <element name="parcelType" type="string" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">typ zásilky</documentation>
		</annotation>
	    </element>
	    <element name="weight" type="decimal" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">hmotnost zásilky</documentation>
		</annotation>
	    </element>
	    <element name="amount" type="decimal" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">výše dobírky</documentation>
		</annotation>
	    </element>
	    <element name="currency" type="string" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">měna dobírkové částky</documentation>
		</annotation>
	    </element>
	    <element name="quantityParcel" type="positiveInteger" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">pocet kusu</documentation>
		</annotation>
	    </element>
	    <element name="depositTo" type="date" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">datum uložení do</documentation>
		</annotation>
	    </element>
	    <element name="timeDeposit" type="positiveInteger" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">úložní doba</documentation>
		</annotation>
	    </element>
	    <element name="countryOfOrigin" type="string" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">země původu</documentation>
		</annotation>
	    </element>
	    <element name="countryOfDestination" type="string" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">země určení</documentation>
		</annotation>
	    </element>
	    <element name="states" type="tns:doStates" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">historie stavů</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

    <complexType name="doStates">
	<sequence minOccurs="0" maxOccurs="unbounded">
	    <element name="state" type="tns:doState">
		<annotation>
		    <documentation xml:lang="cs">Stav zásilky</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>


    <complexType name="doState">
	<sequence>
	    <element name="id" type="string">
		<annotation>
		    <documentation xml:lang="cs">ID stavu</documentation>
		</annotation>
	    </element>
	    <element name="date" type="date">
		<annotation>
		    <documentation xml:lang="cs">datum stavu</documentation>
		</annotation>
	    </element>
	    <element name="text" type="string">
		<annotation>
		    <documentation xml:lang="cs">text stavu</documentation>
		</annotation>
	    </element>
	    <element name="postCode" type="tns:string5" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">psc kde stav nastal</documentation>
		</annotation>
	    </element>
	    <element name="name" type="string" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">název provozovny kde stav nastal</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

     <complexType name="doPrintingHeader">
	<annotation>
	    <documentation xml:lang="cs">Hlavičkové údaje tisku zásilek</documentation>
	</annotation>
	<sequence>
	    <element name="customerID" type="tns:string6">
		<annotation>
		    <documentation xml:lang="cs">Technologické číslo podavatele</documentation>
		</annotation>
	    </element>
	    <element name="contractNumber" type="tns:string10" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">ID CČK složky podavatele</documentation>
		</annotation>
	    </element>
	    <element name="idForm" type="unsignedByte" minOccurs="0" default="20">
		<annotation>
		    <documentation xml:lang="cs">ID formuláře
			7 - adresní štítek (alonž) - samostatný
			8 - adresní štítek (alonž) + dobírková poukázka A
			10 - poštovní dobírková poukázka A - samostatná
			11 - poštovní dobírková poukázka A - 3x (A4)
			12 - Poštovní dobírková poukázka C
			13 - Dobírková složenka ČSOB
			20 - adresní štítek bianco - 4x (A4)
			21 - adresní štítek bianco - samostatný
			22 - obálka 1 - C6
			23 - obálka 2 - C5
			24 - obálka 3 - B4
			25 - obálka 4 - DL bez okénka
			26 - štítky pro RR - 3x8 (A4)
			38 - Integrovaný doklad
			39 - adresní štítek bianco - samostatný (na šířku)
			40 - Adresní údaje 3x8 (A4)
			41 - Dodejka
			56 - CN22
			57 - CN23
			58 - AŠ - samostatný Standardní balík do zahraničí
			59 - AŠ - 4xA4 Standardní balík do zahraničí
			60 - AŠ - samostatný Cenný balík do zahraničí
			61 - 4xA4 Cenný balík do zahraničí
			62 - AŠ - samostatný EMS zahraničí
			63 - AŠ - 2xA4 EMS do zahraničí
			72 - Harmonizovaný štítek pro MZ produkty – samostatný
			73 - Harmonizovaný štítek pro MZ produkty –  4x (A4)
												
			Formuláře ID 72 a 73 je možno použít pouze pro zásilky s prefixem CE do zemí AT, DE, FR, GR, HR, CH, IS, LU, LV, NO, PL, SK

		    </documentation>
		</annotation>
	    </element>
	    <element name="shiftHorizontal" type="byte" default="0">
		<annotation>
		    <documentation xml:lang="cs">Hodnota posunu doprava v mm</documentation>
		</annotation>
	    </element>
	    <element name="shiftVertical" type="byte" default="0">
		<annotation>
		    <documentation xml:lang="cs">Hodnota posunu dolů v mm</documentation>
		</annotation>
	    </element>
	    <element name="position" type="unsignedByte" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Hodnota pozice</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

    <complexType name="doPrintingData">
	<annotation>
	    <documentation xml:lang="cs">Kolekce ID zásilek</documentation>
	</annotation>
	<sequence minOccurs="1" maxOccurs="500">
	    <element name="parcelCode" type="tns:string13">
		<annotation>
		    <documentation xml:lang="cs">ID zásilky</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

    <complexType name="doPrintingHeaderResult">
	<annotation>
	    <documentation xml:lang="cs">Hlavičková data výsledku tisku</documentation>
	</annotation>
	<sequence>
	    <element name="doPrintingHeader" type="tns:doPrintingHeader" minOccurs="0">
		<annotation>
		    <documentation xml:lang="cs">Vlastní hlavička pro tisk</documentation>
		</annotation>
	    </element>
	    <element name="doPrintingStateResponse" type="tns:doParcelStateResponse">
		<annotation>
		    <documentation xml:lang="cs">
			Stav tisku:     responseCode    responseText                Popis
                        ==============================================================================================
                        1            OK                                              Data parametrů zpracování v pořádku
                        2            INTERNALL_ERROR                                 Jiná chyba systému                       
                        100            INVALID_PARCEL_CODE                             Neplatné ID zásilky
                        378            INVALID_PREFIX_COMBINATION                      Zásilka je chybně přiřazena k id tiskové šablony
                        379            PARCEL_DOES_NOT_MEET_THE_REQUIREMENTS_FORM      Parametry zásilky nesplňují podmínky požadovaného formuláře
                        380            NO_CONTRACT_SERVICE_RETURN_RECEIPT              K formuláři není sjednána smlouva ke službě Dodejka
		    </documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

    <complexType name="doPrintingDataResult">
	<annotation>
	    <documentation xml:lang="cs">Data výsledku tisku (soubor PDF)</documentation>
	</annotation>
	<sequence>
	    <element name="file" type="base64Binary">
		<annotation>
		    <documentation xml:lang="cs">Soubor PDF</documentation>
		</annotation>
	    </element>
	</sequence>
    </complexType>

    <!-- Datove typy -->
    <simpleType name="string25">
	<restriction base="string">
	    <maxLength value="25"/>
	</restriction>
    </simpleType>

    <simpleType name="weightType">
	<restriction base="decimal">
	    <totalDigits value="8"/>
	    <fractionDigits value="3"/>
	    <minInclusive value="0"/>
	</restriction>
    </simpleType>
    <simpleType name="dateType">
	<restriction base="string">
	    <pattern value="(([0-2][0-9])|(3[01]))\.((0[0-9])|(1[012]))\.20\d{2}"/>
	</restriction>
    </simpleType>
    <simpleType name="timeType">
	<restriction base="string">
	    <pattern value="20\d{2}((0[0-9])|(1[012]))(([0-2][0-9])|(3[01]))(([01][0-9])|(2[0123]))([0-5][0-9])"/>
	</restriction>
    </simpleType>
    <simpleType name="timeStamp">
	<restriction base="string">
	    <pattern value="20\d{2}((0[0-9])|(1[012]))(([0-2][0-9])|(3[01]))(([01][0-9])|(2[0123]))([0-5][0-9])([0-5][0-9])\d{3}"/>
	</restriction>
    </simpleType>
    <simpleType name="string2">
	<restriction base="string">
	    <maxLength value="2"/>
	</restriction>
    </simpleType>
    <simpleType name="string3">
	<restriction base="string">
	    <maxLength value="3"/>
	</restriction>
    </simpleType>
    <simpleType name="string5">
	<restriction base="string">
	    <maxLength value="5"/>
	</restriction>
    </simpleType>
    <simpleType name="string6">
	<restriction base="string">
	    <maxLength value="6"/>
	</restriction>
    </simpleType>
    <simpleType name="string8">
	<restriction base="string">
	    <maxLength value="8"/>
	</restriction>
    </simpleType>
    <simpleType name="string10">
	<restriction base="string">
	    <maxLength value="10"/>
	</restriction>
    </simpleType>
    <simpleType name="string11">
	<restriction base="string">
	    <maxLength value="11"/>
	</restriction>
    </simpleType>
    <simpleType name="string12">
	<restriction base="string">
	    <maxLength value="12"/>
	</restriction>
    </simpleType>
    <simpleType name="string13">
	<restriction base="string">
	    <maxLength value="13"/>
	</restriction>
    </simpleType>
    <simpleType name="string15">
	<restriction base="string">
	    <maxLength value="15"/>
	</restriction>
    </simpleType>
    <simpleType name="string17">
	<restriction base="string">
	    <maxLength value="17"/>
	</restriction>
    </simpleType>
    <simpleType name="string18">
	<restriction base="string">
	    <maxLength value="18"/>
	</restriction>
    </simpleType>
    <simpleType name="string20">
	<restriction base="string">
	    <maxLength value="20"/>
	</restriction>
    </simpleType>
    <simpleType name="string30">
	<restriction base="string">
	    <maxLength value="30"/>
	</restriction>
    </simpleType>
    <simpleType name="string40">
	<restriction base="string">
	    <maxLength value="40"/>
	</restriction>
    </simpleType>
    <simpleType name="string50">
	<restriction base="string">
	    <maxLength value="50"/>
	</restriction>
    </simpleType>

    <simpleType name="moneyType">
	<restriction base="decimal">
	    <totalDigits value="11"/>
	    <fractionDigits value="2"/>
	    <minInclusive value="0"/>
	</restriction>
    </simpleType>

    <simpleType name="variable">
	<restriction base="decimal">
	    <totalDigits value="10"/>
	</restriction>
    </simpleType>

    <simpleType name="positiveInteger2">
	<restriction base="positiveInteger">
	    <totalDigits value="2"/>
	</restriction>
    </simpleType>

    <simpleType name="sequenceType">
	<restriction base="positiveInteger">
	    <minInclusive value="1"/>
	    <maxInclusive value="20"/>
	</restriction>
    </simpleType>

    <simpleType name="palletsType">
	<restriction base="positiveInteger">
	    <minInclusive value="1"/>
	    <maxInclusive value="99"/>
	</restriction>
    </simpleType>

    <simpleType name="positiveInteger2min1">
	<restriction base="positiveInteger">
	    <totalDigits value="2"/>
	    <minInclusive value="1"/>
	</restriction>
    </simpleType>

    <simpleType name="positiveInteger3min1">
	<restriction base="positiveInteger">
	    <totalDigits value="3"/>
	    <minInclusive value="1"/>
	</restriction>
    </simpleType>

    <simpleType name="positiveInteger10">
	<restriction base="positiveInteger">
	    <totalDigits value="10"/>
	</restriction>
    </simpleType>
    
    <simpleType name="positiveInteger6">
	<restriction base="positiveInteger">
	    <totalDigits value="6"/>
	</restriction>
    </simpleType>
    
    <simpleType name="positiveInteger4">
	<restriction base="positiveInteger">
	    <totalDigits value="4"/>
	</restriction>
    </simpleType>    
    <simpleType name="positiveInteger3">
        <restriction base="positiveInteger">
            <totalDigits value="3"/>
        </restriction>
    </simpleType>        

    <simpleType name="phoneNumberType">
	<restriction base="string">
            <maxLength value="13"/>
        </restriction>
    </simpleType>
    
    <simpleType name="mailAddress">
	<restriction base="string">
	    <pattern value="[\-._a-zA-Z0-9]{1,50}@[\-._a-zA-Z0-9]{1,50}"/>
	</restriction>
    </simpleType>    

</schema>